.coverage
.env
.pytest_cache/
**/__pycache__/
.fuse_*
.vscode/

api-documentation/node_modules/
api-documentation/.docusaurus/
api-documentation/build/

dev-infrastructure/base-data/*
!dev-infrastructure/base-data/.gitkeep

dev-infrastructure/model-configurations/*
!dev-infrastructure/model-configurations/.gitkeep
!dev-infrastructure/model-configurations/ad608e6f548aedaec632/*
!dev-infrastructure/model-configurations/cf58c0536d2ab4fbd6a6/*
